<main id="main" class="main">
    <div class="pagetitle">
       <h1> Article Page</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/admin/dashboard">admin</a></li>
             <li class="breadcrumb-item">Articles</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
            
            <div class="card pt-2 pb-3">
                <div class="card-body">

                  <div [hidden]="loading">
                     <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" role="status"></div>
                     </div>
                  </div>

                  <h5 class="card-title"> Articles  </h5>
                      <div *ngIf="articles | async as articles" > 

                        <table *ngIf="articles.totalElements > 0 " >
                            <thead>
                               <tr>
                                  <th scope="col"> # </th>
                                  <th scope="col"> Title </th>
                                  <th scope="col"> dateCreation </th>
                                  <th scope="col"> category </th>
                                  <th scope="col"> Option </th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let article of articles.content" >
                                  <td data-label="id"> {{ article.idArticle }} </td>
                                  <td data-label="title"> {{ article.title }} </td>
                                  <td data-label="dateCreation"> {{ article.dateCreation | date : 'MMM dd y' }} </td>
                                  <td data-label="categoryName"> {{ article.category.categoryName }} </td>
                                  <td data-label="Option"> 
                                    <button class="btn btn-primary btn-sm mx-3" (click)="navigate(article.idArticle)" > Edit </button> 
                                    <button class="btn btn-danger  btn-sm " data-bs-toggle="modal" data-bs-target="#deleteArticle"  (click)="selectedArticle = article" > Delete </button> 
                                  </td>
                               </tr>
                            </tbody>
                         </table>

                         <nav *ngIf="articles.totalPages > 1" class="mt-4" aria-label="Page navigation example">
                           <ul class="pagination justify-content-center">
                             
                              <li class="page-item" [ngClass]="articles.number == 0 ? 'disabled' : '' " >
                               <a class="page-link" href="javascript:void(0)" (click)="getArticles(articles.number - 1)" >Previous</a>
                             </li>
                            
                             <li class="page-item" *ngFor="let number of counterNumber(articles.totalPages) ; let i = index " [ngClass]="articles.number == i ? 'active' : '' " ><a class="page-link" href="javascript:void(0)" (click)="getArticles( i )" > {{ i + 1 }} </a></li>
                            
                             <li class="page-item" [ngClass]="articles.number == ( articles.totalPages - 1 ) ? 'disabled' : '' " >
                               <a class="page-link" href="javascript:void(0)" (click)="getArticles(articles.number + 1)" >Next</a>
                             </li>
                           </ul>
                         </nav>

                         <div class="d-flex justify-content-center mt-5 mb-3" *ngIf="articles.totalElements == 0" > <h1> No Articles Found </h1> </div>

                      </div>

                </div>
                
            </div>

          </div>
       </div>
    </section>
 </main>


 <div class="modal fade" id="deleteArticle" tabindex="-1">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title"> Delete Article</h5>
             <button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <div> are you sure you want delete this article : {{ selectedArticle.title }}  </div>
            <div> <span> {{ messageError }} </span> </div> 
          </div>
          <div class="modal-footer"> 
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
            <button type="button" class="btn btn-danger" (click)="deleteArticle()"  > Delete  </button>
          </div>
       </div>
    </div>
 </div>