
<main id="main" class="main">
    <div class="pagetitle">
       <h1> Project Page</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/admin/dashboard"> admin </a></li>
             <li class="breadcrumb-item"> Add Project </li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
            
            <div class="card pt-4 pb-3">
                <div class="card-body">
                    <h5 class="card-title"> add Project </h5>

                    <form [formGroup]="projectForm" (onsubmit)="addProject()" >

                        <div class="row mb-3">
                           <div class="error txt-error mb-2"  *ngIf="!projectName?.value && projectName?.touched" > required project Name </div>
                           <label for="projectName" class="col-sm-2 col-form-label" > project Name </label>
                           <div class="col-sm-10"> <input type="text" id="projectName" class="form-control" formControlName="projectName" ></div>
                        </div>

                        <div class="row mb-3">
                           <div class="error txt-error mb-2" *ngIf="!description?.value && description?.touched" > required description </div>
                           <label for="description" class="col-sm-2 col-form-label"> description </label>
                           <div class="col-sm-10"> <input type="text" id="description" class="form-control" formControlName="description"></div>
                        </div>
                        
                        <div class="row mb-3">
                           <div class="error txt-error mb-2" *ngIf="!content?.value && content?.touched" > required Content </div>
                            <label for="Content" class="col-sm-2 col-form-label"> Content </label>
                            <div class="col-sm-10"><textarea class="form-control" id="Content" style="height: 100px" formControlName="content" ></textarea></div>
                         </div>

                        <div class="row mb-3">
                           <div class="error txt-error mb-2" *ngIf="!clientName?.value && clientName?.touched" > required client Name </div>
                           <label for="clientName" class="col-sm-2 col-form-label">client Name</label>
                           <div class="col-sm-10"> <input type="text" class="form-control" id="clientName" formControlName="clientName" ></div>
                        </div>

                        <div class="row mb-3">
                           <div class="error txt-error mb-2" *ngIf="!webSiteUrl?.value && webSiteUrl?.touched" > required webSiteUrl </div>
                           <label for="webSiteUrl" class="col-sm-2 col-form-label"> Web Site Url </label>
                           <div class="col-sm-10"> <input type="text" class="form-control" id="webSiteUrl" formControlName="webSiteUrl" ></div>
                        </div>

                        <div class="row mb-3">
                            <div class="error txt-error mb-2" *ngIf="!rating?.value && rating?.touched" > required rating </div>
                            <label for="rating" class="col-sm-2 col-form-label">rating</label>
                            <div class="col-sm-10"> <input type="number" class="form-control" id="rating" min="0" max="5" formControlName="rating" ></div>
                         </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> completed </label>
                            <div class="col-sm-10">
                               <select class="form-select" aria-label="Default select example" formControlName="completed" >
                                  <option [ngValue]="true"> Yes </option>
                                  <option [ngValue]="false" > No </option>
                               </select>
                            </div>
                        </div>

                        <div class="row mb-3" *ngIf="completed.value" > 
                            <label for="completedDate" class="col-sm-2 col-form-label"> Completed Date </label>
                            <div class="col-sm-10"> <input type="date" class="form-control" id="completedDate" formControlName="completedDate"></div>
                         </div>

                        <div class="row mb-3">
                           <label for="formFile" class="col-sm-2 col-form-label">Image 1 </label>
                           <div class="col-sm-10"> <input class="form-control" type="file" id="formFile1" (change)="onSelectFile($event , 1)"></div>
                        </div> 
                        
                        <div class="row mb-3">
                            <label for="formFile" class="col-sm-2 col-form-label">Image 2 </label>
                            <div class="col-sm-10"> <input class="form-control" type="file" id="formFile2" (change)="onSelectFile($event , 2)" ></div>
                         </div> 

                         <div class="mb-3" *ngIf="messageError">
                            <div class="error" > {{ messageError }} </div>
                         </div> 
                
                        <div class="mb-3 mt-5">
                           <button [hidden]="loading" class="btn btn-outline-primary" type="button" disabled> <span class="spinner-border spinner-border-sm" 
                              role="status" aria-hidden="true">
                              </span> <span class="visually-hidden">Loading...</span> </button>
                            <button [hidden]="!loading" type="submit" class="btn btn-primary" (click)="addProject()" [disabled]="projectForm.invalid || !image1 || !image2" > add Article </button>
                        </div>

                   </form>

                   <div class="mb-3" *ngIf="imageUrl1">
                     <label for="formFile" class="form-label mx-3 my-3"> First Image preview : </label>
                     <img class="img-fluid"  [src]="imageUrl1 "  height="200px" />
                   </div>

                   <div class="mb-3" *ngIf="imageUrl2">
                     <label for="formFile" class="form-label mx-3 my-3"> Second Image preview : </label>
                     <img class="img-fluid"  [src]="imageUrl2"  height="200px" />
                   </div>

                </div>
            </div>
          </div>
       </div>
    </section>
</main>
