 
    <!--================ Start Banner Area =================-->
    <section class="banner_area" data-aos="fade-down" >
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Services</h2>
                    <div class="page_link">
                        <a href="javascript:void(0)" [routerLink]="['/visitor/home']">Home</a>
                        <a href="javascript:void(0)" >Services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->

    	<!--================ Start Features Area =================-->
	<section class="features_area section_gap_top" data-aos="zoom-in" data-aos-duration="1000">
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>service offers </h2>
                    </div>
                </div>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <img src="assets/Visitor/img/services/s1.png" alt="">
                        <h4>Wp developing</h4>
                        <p> create websites that look good and functional </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <img src="assets/Visitor/img/services/s3.png" alt="">
                        <h4>Web design</h4>
                        <p> design websites that can become a treat for your eyes </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <img src="assets/Visitor/img/services/s4.png" alt="">
                        <h4>seo optimize</h4>
                        <p> analyze and review to improve a  <br/> website </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Features Area =================-->

  
